@import "global-style.scss";

.header {
    height: 60px;
    background-color: $blue;
    display: flex;
    box-sizing: border-box;
    align-items: center;

    .title {
        flex: 1;
        color: $white;
        font-size: 20px;
        padding-left: 20px;
        text-decoration: none;
    }

    .menu {
        display: flex;
        list-style: none;

        .menuItem {
            padding-right: 20px;
            color: $white;
            cursor: pointer;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}